* {
    margin: 0;
    padding: o;
    box-sizing: border-box;
}

body {
    background: rgb(204, 202, 202);
    font-family: 'Merriweather', serif, sans-serif;   
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: 0;
}
.container {
    color: black;
    margin: auto;
    width: min(90vw,800px);
    
}
h2{
    margin-top: 3.2rem;
    margin-bottom: 0,8rem;
}
header {
    background: rgb(10, 10, 10);
    padding: 2rem 0 10rem;
    text-align: center;
   

}
#logo {
    font-weight: 200;
    color:beige;

}
#balance {
    margin-top: -8rem;
   
}
#balance h2{
    color:white;
    margin-top: 0;
    margin-bottom: 1,5rem;
    
}
thead {
    background: rgb(71, 67, 67);
    color: aliceblue;
    font-weight: normal;
    padding: 1rem 2rem;
    text-align: center;
    border-radius: 3px;
}
.card {
    background: rgb(223, 223, 84);
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
    font-weight: 100;
}
.card h3 {
    font-weight: bold;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
}
.card p {
    font-size: 2rem;
    line-height: 3rem;
    margin-top: 0.5rem;
}
.card.black {
    background: black;
    color:azure;
}
#data-table {
    width: 100%;
    
    
}
table  tbody tr {
    opacity: 0.5
}
table tbody tr:hover {
    opacity: 1
}
table tbody th {   
    font-weight: normal;
    padding: 1rem 2rem;
    text-align: center;
}
table tbody td {
    background: gainsboro;
    border-radius: 5.4rem;
    text-align: center;
    font-weight: normal;
}
table thead tr th {
    border-radius: 0.5rem;
}
td.description {
    color: blue;
}
td.income {
    color:green;
}
td.expense {
    color:red;
}
footer{
    text-align: center;
    padding: 4rem 0 2rem;
    color:blue;
}